/* #Font
================================================== */
@font-face {
  font-family: "oe-do-pro";
  font-weight: 200;
  src: url("../font/OEDooPro-Light.ttf");
}

@font-face {
  font-family: "oe-do-pro";
  font-weight: 400;
  src: url("../font/OEDooPro-Regular.ttf");
}

@font-face {
  font-family: "oe-do-pro";
  font-weight: 500;
  src: url("../font/OEDooPro-Medium.ttf");
}

@font-face {
  font-family: "oe-do-pro";
  font-weight: 700;
  src: url("../font/OEDooPro-Bold.ttf");
}

/* #Global
================================================== */
body {
  font-family: 'oe-do-pro', sans-serif;
  color: #242424;
}

/* #Text Utilities
================================================== */
.text-blue {
  color: #117A8C;
}

.text-orange {
  color: #FF6C0E;
}

/* #Header
================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  color: white;
  background-color: transparent;
  transition: color .4s ease, background-color .4s ease;
}

.header.header-white {
  background-color: white;
  color: #242424;
}

.header .container {
  padding: 0 7.44vw 0 1.71vw;
  display: flex;
}

.header-logo img {
  width: 8.59vw;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding-right: 6.25vw;
}

.header-links ul {
  display: flex;
  align-items: center;
}

.header-links li:not(:last-child) {
  margin-left: 2.6vw;
}

.header-links .search a {
  display: flex;
  align-items: center;
}

.header-links .search svg {
  width: 1.145vw;
}

.header-links .search svg * {
  fill: white;
  transition: all .4s ease;
}

.header.header-white .header-links .search svg * {
  fill: #242424;
}

@media (max-width: 1023.98px) {
  .header {
    left: auto;
    right: 0;
  }

  .header .container {
    padding: 0;
    justify-content: space-between;
    width: 88%;
  }

  .header-links {
    display: none;
  }

  .header-menu {
    flex-grow: 0;
    padding-right: 0;
  }

  .header-logo img {
    width: 19.2vw;
  }

  .header-hamburger svg {
    width: 9vw;
  }

  .header-hamburger svg * {
    stroke: white!important;
  }

  .header.header-white .header-hamburger svg *{
    stroke: #242424!important;
  }
}

/* #Buttons
================================================== */
.btn {
  font-size: 1.15vw;
  height: 2.65vw;
  border: none;
  color: white;
  padding: 0 1.6vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: .5vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  border: 1px solid transparent;
}

.btn.btn-primary {
  background-color: #117A8C;
}

.btn.btn-secondary {
  background-color: white;
  color: #117A8C;
}

.btn.btn-tertiary {
  background-color: white;
  color: #242424;
  border: 1px solid #242424;
}

.btn-icon {
  margin-right: 1.35vw;
}

.btn-icon img {
  width: 1.04vw;
}

@media (max-width: 1023.98px) {
  .btn {
    font-size: 4.26vw;
    height: 10.666vw;
    padding: 0 12.26vw;
    border-radius: 2vw;
  }

  .btn-icon {
    margin-right: 2.66vw;
  }
  
  .btn-icon img {
    width: 4.13vw;
  }
}

/* #Social Icons
================================================== */
.social-icons ul {
  display: flex;
  align-items: center;
}

.social-icons li:not(:last-child) {
  margin-left: .5vw;
}

.social-icons svg {
  width: 1.3vw;
  transition: all .4s ease;
}

.social-icons .fill-change {
  fill: white;
}

.social-icons .stroke-change {
  stroke: white;
}

.header.header-white .social-icons .fill-change {
  fill: #242424;
}

.header.header-white .social-icons .stroke-change {
  stroke: #242424;
}

@media (max-width: 1023.98px) {
  .social-icons li:not(:last-child) {
    margin-left: 3.2vw;
  }
  
  .social-icons svg {
    width: 7.7vw;
  }
}

/* #Underline
================================================== */
.underline,
.underline-center {
  line-height: 1;
  margin-bottom: 1.17vw;
  padding-bottom: 1.17vw;
  position: relative;
}

.underline::after,
.underline-center::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 5.729vw;
  height: 2px;
  background-color: #FF6C0E;
}

.underline-center::after {
  right: 50%;
  transform: translateX(50%);
}

@media (max-width: 1023.98px) {
  .underline,
  .underline-center {
    margin-bottom: 4vw;
    padding-bottom: 4vw;
  }

  .underline::after,
  .underline-center::after {
    width: 14.666vw;
    right: 50%;
    transform: translateX(50%);
  }
}

/* #Swiper
================================================== */
.swiper-container {
  cursor: grab;
}

/* #Swiper Pagination
================================================== */
.swiper-container-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-custom, 
.swiper-pagination-fraction {
  bottom: 7.29vw;
}

.swiper-pagination-bullet {
  width: 0.729vw;
  height: 0.729vw;
  background: #C8C8C8;
  opacity: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.swiper-pagination-bullet-active {
  background: white;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 .25vw;
}

@media (max-width: 1023.98px) {
  .swiper-container-horizontal>.swiper-pagination-bullets, 
  .swiper-pagination-custom, 
  .swiper-pagination-fraction {
    bottom: 10vw;
  }

  .swiper-pagination-bullet {
    width: 3.33vw;
    height: 3.33vw;
  }
  
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 1.13vw;
  }
}

/* #Banner
================================================== */
.banner {
  position: relative;
}

.banner .text {
  position: absolute;
  top: 50%;
  right: 7.44vw;
  z-index: 50;
  color: white;
  width: 39.84vw;
  transform: translateY(-50%);
}

.banner.banner-slider .text {
  width: 43.43vw;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
} 

.banner .text p {
  margin-bottom: 2.86vw;
}

.banner .stats {
  display: flex;
  margin-top: 7.8vw;
  margin-bottom: -8vw;
}

.banner .stats li {
  padding: 0 2.6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner .stats li p {
  margin: 0;
}

.banner .stats li p.underline-center {
  margin-bottom: .55vw;
}

.banner .stats li p.underline-center::after {
  width: 1.5vw;
}

.banner .stats li:first-child {
  padding-right: 0;
}

.banner .stats li:last-child {
  padding-left: 0;
}

.banner .stats li:not(:last-child) {
  border-left: 1px solid white;
}

.banner-scroll {
  position: absolute;
  top: 45%;
  left: 1.66vw;
  z-index: 50;
  color: white;
}

.banner-scroll a {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.banner-scroll img {
  width: 1.25vw;
}

.banner-scroll span {
  transform: rotate(-90deg) translateY(-50%) translateX(50%);
}

.banner,
.banner .img img,
.banner .img picture {
  width: 100%;
}

.banner-slider .swiper-container {
  mask-image: url('../img/global/banner-mask.svg');
  -webkit-mask-image: url('../img/global/banner-mask.svg');
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

@media (max-width: 1023.98px) {
  .banner-slider .swiper-container {
    mask-image: url('../img/global/banner-mask-mobile.svg');
    -webkit-mask-image: url('../img/global/banner-mask-mobile.svg');
  }

  .banner-scroll {
    display: none;
  }

  .banner .text {
    width: 87%!important;
    top: 27.6vw!important;
    right: auto;
    left: 50%;
    transform: translateX(-50%)!important;
    text-align: center;
  }
  
  .banner .text p {
    margin-bottom: 8vw;
  }

  .banner .stats {
    margin-top: 21.33vw;
    margin-bottom: 0;
    justify-content: center;
  }
  
  .banner .stats li {
    padding: 0 3.75vw;
  }
  
  .banner .stats li p.underline-center {
    margin-bottom: 2vw;
  }
  
  .banner .stats li p.underline-center::after {
    width: 6.66vw;
  }
}

/* #Home About
================================================== */
.home-about {
  position: relative;
}

.home-about .container {
  position: absolute;
  top: 6.77vw;
  left: 50%;
  transform: translateX(-50%);
  width: 76%;
}

.home-about .text {
  width: 26.66vw;
}

.home-about .text .btn {
  margin-top: 2.6vw;
}

.home-about .img,
.home-about .img img,
.home-about .img picture {
  width: 100%;
}

@media (max-width: 1023.98px) {
  .home-about .container {
    top: 16vw;
    left: 50%;
    transform: translateX(-50%);
    width: 84.2%;
  }
  
  .home-about .text {
    width: 100%;
    text-align: center;
  }
  
  .home-about .text .btn {
    margin-top: 8vw;
  }
}

/* #Home Areas
================================================== */
.home-areas {
  margin-bottom: 11.4vw;
}

.home-areas .container {
  width: 85%;
}

.home-areas .container > .text {
  text-align: center;
  width: 33.43vw;
  margin: 0 auto 5.78vw auto;
}

.home-areas .boxes ul {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.home-areas .boxes li {
  flex: 0 0 19.368vw;
}

.home-areas .box {
  position: relative;
  mask-image: url('../img/home/areas-box-mask.svg');
  -webkit-mask-image: url('../img/home/areas-box-mask.svg');
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  height: 31.4vw;
  transform: scale(1);
  transition: transform .5s ease;
}

.home-areas .box:hover {
  transform: scale(1.15);
}

.home-areas .box .text {
  position: relative;
  z-index: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  flex-direction: column;
  padding-top: 11.25vw;
}

.home-areas .box h3 {
  line-height: 1.4;
  margin-bottom: 1.3vw;
}

.home-areas .box .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home-areas .box .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.home-areas .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s ease, visibility .5s ease;
}

.home-areas .box:hover .links {
  opacity: 1;
  visibility: visible;
}

.home-areas .link {
  flex: 0 0 45%;
  margin-bottom: 1.3vw;
}

.home-areas .link a {
  border: 1px solid white;
  border-radius: 500px;
  width: 100%;
  height: 1.927vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1023.98px) {
  .home-areas {
    margin-bottom: 20vw;
    padding-top: 9.33vw;
  }
  
  .home-areas .container {
    width: 88.8%;
  }
  
  .home-areas .container > .text {
    width: 100%;
    margin: 0 auto 10vw auto;
  }

  .home-areas .container > .text h2 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .home-areas .boxes ul {
    display: block;
  }

  .home-areas .box {
    height: 66.37vw;
    transform: none;
    mask-image: url('../img/home/areas-box-mask-mobile-2.svg');
    -webkit-mask-image: url('../img/home/areas-box-mask-mobile-2.svg');
  }

  .home-areas li:first-of-type .box {
    height: 58.37vw;
    mask-image: url('../img/home/areas-box-mask-mobile.svg');
    -webkit-mask-image: url('../img/home/areas-box-mask-mobile.svg');
  }

  .home-areas li:last-of-type .box {
    height: 58.37vw;
    mask-image: url('../img/home/areas-box-mask-mobile-3.svg');
    -webkit-mask-image: url('../img/home/areas-box-mask-mobile-3.svg');
  }
  
  .home-areas .box:hover {
    transform: none;
  }
  
  .home-areas .box .text {
    padding-top: 7.25vw;
  }

  .home-areas li:first-of-type .box .text {
    padding-top: 3.25vw;
  }
  
  .home-areas .box h3 {
    margin-bottom: 5.6vw;
  }
  
  .home-areas .box .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .home-areas .box .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .home-areas .links {
    width: 94%;
    opacity: 1;
    visibility: visible;
  }
  
  .home-areas .box:hover .links {
    opacity: 1;
    visibility: visible;
  }
  
  .home-areas .link {
    flex: 0 0 48.5%;
    margin-bottom: 2.66vw;
  }
  
  .home-areas .link a {
    height: 8.4vw;
  }
}

/* #Home Numbers
================================================== */
.home-numbers .top {
  position: relative;
  color: white;
  z-index: 10;
}

.home-numbers .top .container {
  width: 85%;
  margin-bottom: -15.625vw;
  z-index: 1;
}

.home-numbers .top .img,
.home-numbers .top .img img {
  width: 100%;
  border-radius: 1vw;
}

.home-numbers .top .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 33.43vw;
}

.home-numbers .bottom {
  position: relative;
  color: white;
}

.home-numbers .bottom .img,
.home-numbers .bottom .img img {
  width: 100%;
}

.home-numbers .bottom .text {
  position: absolute;
  bottom: 3.85vw;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
}

.home-numbers .bottom ul {
  display: flex;
}

.home-numbers .bottom li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 0 0 20%;
}

.home-numbers .bottom li:not(:last-child) {
  border-left: 1px solid white;
}

@media (max-width: 1023.98px) {
  .home-numbers .top .container {
    width: 100%;
    margin-bottom: 0;
  }
  
  .home-numbers .top .img,
  .home-numbers .top .img img {
    width: 100%;
    border-radius: 0;
  }

  .home-numbers .top .img img {
    height: 129.46vw;
    object-fit: cover;
    object-position: center;
  }
  
  .home-numbers .top .text {
    top: 13.3vw;
    transform: translateX(-50%);
    width: 84%;
  }

  .home-numbers .bottom {
    width: 88.8%;
    margin: 0 auto;
    margin-top: -72.6vw;
    z-index: 10;
  }

  .home-numbers .bottom img {
    height: 91.6vw;
    object-fit: cover;
    object-position: center;
  }
  
  .home-numbers .bottom .text {
    bottom: auto;
    top: 8.93vw;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .home-numbers .bottom ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .home-numbers .bottom li {
    flex: 0 0 50%;
    margin-bottom: 5.33vw;
  }

  .home-numbers .bottom li:first-of-type {
    order: 10;
  }

  .home-numbers .bottom li:not(:last-child) {
    border-left: none;
  }
}

/* #Home Projects
================================================== */
.home-projects {
  padding: 15.2vw 0 9.89vw 0;
  position: relative;
}

.home-projects .container {
  width: 90%;
}

.home-projects .img {
  width: 42.23vw;
  position: absolute;
  top: 58%;
  left: 0;
  transform: translateY(-50%)
}

.home-projects .img img,
.home-projects .img picture {
  width: 100%;
}

.home-projects .text {
  margin-right: 6.66vw;
  margin-bottom: 5.2vw;
  width: 31.25vw;
}

.home-projects .project-card {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 60vw;
}

.home-projects .project-img {
  flex: 0 0 29.73vw;
}

.home-projects .project-img img {
  width: 100%;
  border-radius: 1vw;
  box-shadow: 0 3px 25px rgba(0, 0, 0, .16);
}

.home-projects .project-text {
  flex-grow: 1;
  background-color: #117A8C;
  color: white;
  padding: 2.6vw 2.6vw 8.33vw 7.55vw;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
}

.home-projects h3 {
  margin-bottom: 2.18vw;
}

.home-projects p:first-of-type {
  margin-bottom: 2.35vw;
}

.home-projects .btn {
  margin-top: 2.86vw;
}

.home-projects .swiper-pagination {
  bottom: 5.72vw;
  width: 30vw;
  left: auto;
  right: 0;
}

@media (max-width: 1023.98px) {
  .home-projects {
    padding: 20vw 0 26.66vw 0;
    margin-bottom: 15.33vw;
  }
  
  .home-projects .container {
    width: 100%;
  }
  
  .home-projects .img {
    width: 71.8%;
    top: 62%;
    left: auto;
    right: 0;
    transform: translateY(-50%)
  }

  .home-projects .text {
    margin: 0 auto 11.33vw auto;
    width: 84%;
    position: relative;
    z-index: 10;
    text-align: center;
  }

  .home-projects .swiper-container {
    padding-right: 6%;
    padding-bottom: 13.3vw;
  }

  .home-projects .swiper-slide {
    padding-left: 5.33vw;
    height: auto;
  }

  .home-projects .project-card {
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 3.33vw;
    overflow: hidden;
  }
  
  .home-projects .project-img {
    flex: 0;
    width: 100%;
  }
  
  .home-projects .project-img img {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    height: 56.8vw;
    object-fit: cover;
    object-position: center;
  }
  
  .home-projects .project-text {
    padding: 6vw 6vw 8.66vw 8.66vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .home-projects h3 {
    margin-bottom: 4vw;
  }
  
  .home-projects p:first-of-type {
    margin-bottom: 6vw;
  }
  
  .home-projects .btn {
    margin-top: 8.8vw;
  }
  
  .home-projects .swiper-pagination {
    bottom: 0;
    width: 100%;
  }

  .home-projects .swiper-pagination-bullet {
    background: #D7DCDC;
  }

  .home-projects .swiper-pagination-bullet-active {
    background: #117A8C;
  }
}

/* #Home Career
================================================== */
.home-career {
  position: relative;
}

.home-career .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.home-career .bg img {
  width: 100%;
}

.home-career .text.top {
  width: 33.43vw;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4.16vw;
}

.home-career .text.top .btn {
  margin-top: 2.6vw;
}

@media (max-width: 1023.98px) {
  .home-career {
    overflow: hidden;
  }

  .home-career .text.top {
    width: 84%;
    margin-bottom: 20vw;
  }
  
  .home-career .text.top .btn {
    margin-top: 8vw;
  }
}

/* #Contact
================================================== */
.contact {
  margin: 7.8vw 0 7.44vw 0;
  text-align: center;
}

.contact h2 {
  margin-bottom: 3.125vw;
}

@media (max-width: 1023.98px) {
  .contact {
    width: 66%;
    margin: 20vw auto 26.6vw auto;
  }
  
  .contact h2 {
    margin-bottom: 8vw;
  }
}

/* #Footer
================================================== */
.footer {
  position: relative;
  background-image: url('../img/global/footer-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  color: white;
  padding: 17.39vw 0 6.19vw 0;
  overflow: hidden;
}

.footer .container {
  width: 79%;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7.29vw;
}

.footer-logo img {
  width: 8.125vw;
}

.footer-links {
  flex-grow: 1;
  padding-left: 9vw;
}

.footer .accordion {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.footer .collapse {
  line-height: 1.66;
}

.footer .collapse-toggler {
  font-weight: bold;
  margin-bottom: .75vw;
  line-height: 1.66;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .footer .collapse {
    height: auto!important;
  }
}

@media (max-width: 1023.98px) {
  .footer {
    background-image: url('../img/global/footer-bg-mobile.jpg');
    background-position: top center;
    padding: 7.33vw 0;
  }

  .footer .container {
    width: 88%;
  }

  .footer-top {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 11.33vw;
    align-items: flex-end;
  }
  
  .footer-logo img {
    width: 25.6vw;
  }

  .footer-bottom {
    display: block;
    text-align: center;
  }

  .footer-bottom p:first-child {
    margin-bottom: 5vw;
  }

  .footer-links {
    padding-left: 0;
    flex: 0 0 100%;
    margin-bottom: 12vw;
  }

  .footer .accordion {
    display: block;
    width: 100%;
  }
  
  .footer .collapse {
    line-height: 1.66;
  }
  
  .footer .collapse-toggler {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    line-height: 1.66;
  }
  
  .footer .collapsible {
    padding: 1.5vw 0;
  }

  .footer .collapsible:not(:last-child) {
    border-bottom: 1px solid white;
  }

  .footer .collapse > div {
    padding-bottom: 1.5vw;
  }
}

/* #Persons
================================================== */
.home-career .persons {
  height: 37.8vw;
  overflow: hidden;
  margin-bottom: 7.8vw;
  position: relative;
  width: 100%;
}

.home-career .person {
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  position: absolute;
  right: 0;
  transform: translateX(18vw);  
  backface-visibility: hidden;

  animation: move 20s linear infinite;
}

.home-career .person:nth-child(1) {
  width: 11.81vw;
  height: 8.43vw;
  mask-image: url('../img/home/person-1-mask.svg');
  -webkit-mask-image: url('../img/home/person-1-mask.svg');
  top: 14vw;
}

.home-career .person:nth-child(2) {
  width: 11.77vw;
  height: 8.43vw;
  mask-image: url('../img/home/person-2-mask.svg');
  -webkit-mask-image: url('../img/home/person-2-mask.svg');
  top: 23.82vw;
}

.home-career .person:nth-child(3) {
  width: 17.2vw;
  height: 14vw;
  mask-image: url('../img/home/person-3-mask.svg');
  -webkit-mask-image: url('../img/home/person-3-mask.svg');
  top: 8.43vw;
}

.home-career .person:nth-child(4) {
  width: 11.62vw;
  height: 13.98vw;
  mask-image: url('../img/home/person-4-mask.svg');
  -webkit-mask-image: url('../img/home/person-4-mask.svg');
  top: 23.8vw;
}

.home-career .person:nth-child(5) {
  width: 11.81vw;
  height: 8.43vw;
  mask-image: url('../img/home/person-5-mask.svg');
  -webkit-mask-image: url('../img/home/person-5-mask.svg');
  top: 4.21vw;
}

.home-career .person:nth-child(6) {
  width: 11.77vw;
  height: 8.43vw;
  mask-image: url('../img/home/person-6-mask.svg');
  -webkit-mask-image: url('../img/home/person-6-mask.svg');
  top: 14vw;
}

.home-career .person:nth-child(7) {
  width: 17.15vw;
  height: 13.98vw;
  mask-image: url('../img/home/person-7-mask.svg');
  -webkit-mask-image: url('../img/home/person-7-mask.svg');
  top: 23.8vw;
}

.home-career .person:nth-child(8) {
  width: 12.71vw;
  height: 15.61vw;
  mask-image: url('../img/home/person-8-mask.svg');
  -webkit-mask-image: url('../img/home/person-8-mask.svg');
  top: 2vw;
}

.home-career .person:nth-child(9) {
  width: 12.64vw;
  height: 13.17vw;
  mask-image: url('../img/home/person-9-mask.svg');
  -webkit-mask-image: url('../img/home/person-9-mask.svg');
  top: 18.4vw;
}

.home-career .person:nth-child(10) {
  width: 12.71vw;
  height: 11.59vw;
  mask-image: url('../img/home/person-10-mask.svg');
  -webkit-mask-image: url('../img/home/person-10-mask.svg');
  top: 0;
}

.home-career .person:nth-child(11) {
  width: 12.71vw;
  height: 10vw;
  mask-image: url('../img/home/person-11-mask.svg');
  -webkit-mask-image: url('../img/home/person-11-mask.svg');
  top: 13.33vw;
}

.home-career .person:nth-child(12) {
  width: 12.71vw;
  height: 15.61vw;
  mask-image: url('../img/home/person-12-mask.svg');
  -webkit-mask-image: url('../img/home/person-12-mask.svg');
  top: 5.8vw;
}

.home-career .person:nth-child(13) {
  width: 12.71vw;
  height: 13.6vw;
  mask-image: url('../img/home/person-13-mask.svg');
  -webkit-mask-image: url('../img/home/person-13-mask.svg');
  top: 22.39vw;
}

.home-career .person:nth-child(14) {
  width: 13.61vw;
  height: 9.72vw;
  mask-image: url('../img/home/person-14-mask.svg');
  -webkit-mask-image: url('../img/home/person-14-mask.svg');
  top: 8.65vw;
}

.home-career .person:nth-child(15) {
  width: 13.63vw;
  height: 12.42vw;
  mask-image: url('../img/home/person-15-mask.svg');
  -webkit-mask-image: url('../img/home/person-15-mask.svg');
  top: 19.37vw;
}

.home-career .person:nth-child(13),
.home-career .person:nth-child(12) { animation-delay: 2.65s; }
.home-career .person:nth-child(11),
.home-career .person:nth-child(10) { animation-delay: 5.25s; }
.home-career .person:nth-child(9),
.home-career .person:nth-child(8) { animation-delay: 7.9s; }
.home-career .person:nth-child(7) { animation-delay: 11.4s; }
.home-career .person:nth-child(6) { animation-delay: 10.5s; }
.home-career .person:nth-child(5) { animation-delay: 10.5s; }
.home-career .person:nth-child(4) { animation-delay: 13.9s; }
.home-career .person:nth-child(3) { animation-delay: 13.9s; }
.home-career .person:nth-child(2),
.home-career .person:nth-child(1) { animation-delay: 16.5s; }

.home-career .person img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@keyframes move { to { transform: translateX(-100vw); } }

@media (max-width: 1023.98px) {
  .home-career .persons {
    margin-bottom: 20vw;
    transform: scale(1.5);
  }
}

/* #Press Articles
================================================== */
.press-articles {
  margin: 11.56vw 0 7.8vw 0;
}

.press-articles .container {
  width: 85%;
}

.press-articles ul {
  display: flex;
  flex-wrap: wrap;
  margin: -1.5vw;
}

.press-articles li {
  flex: 0 0 33.333333%;
  padding: 1.5vw;
}

.press-articles li > div {
  border-radius: 1vw;
  overflow: hidden;
  box-shadow: 0 3px 24px rgba(0, 0, 0, .1);
}

.press-articles .img img {
  width: 100%;
  height: 9.68vw;
  object-fit: cover;
  object-position: center;
}

.press-articles .text {
  padding: 1.3vw;
  display: flex;
  flex-direction: column;
}

.press-articles .text p {
  margin-bottom: .5vw;
}

.press-articles .text h3 {
  margin-bottom: 1vw;
}

.press-articles .text a {
  margin-right: auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #FF6C0E;
  padding-bottom: .25vw;
}

.press-articles .text a img {
  width: 1.04vw;
  margin-right: .5vw;
}

@media (max-width: 1023.98px) {
  .press-articles {
    margin: 16vw 0;
  }
  
  .press-articles .container {
    width: 88%;
  }

  .press-articles ul {
    display: block;
    margin: 0;
  }
  
  .press-articles li {
    padding: 0;
  }

  .press-articles li:not(:last-child) {
    margin-bottom: 6vw;
  }
  
  .press-articles li > div {
    border-radius: 2.66vw;
  }
  
  .press-articles .img img {
    height: 30.4vw;
  }
  
  .press-articles .text {
    padding: 4.4vw;
  }
  
  .press-articles .text p {
    margin-bottom: 1.6vw;
  }
  
  .press-articles .text h3 {
    margin-bottom: 2vw;
  }
  
  .press-articles .text a {
    padding-bottom: 1vw;
  }
  
  .press-articles .text a img {
    width: 3.45vw;
    margin-right: 1.33vw;
  }

  .press-articles .load-more {
    margin-top: 10.4vw;
    text-align: center;
  }
}

/* #Features
================================================== */
.features {
  padding: 5.2vw 0 7.8vw 0;
}

.features .container {
  width: 77%;
}

.features ul {
  display: flex;
  justify-content: center;
}

.features ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 0 0 25%;
  padding: 0 4.7vw;
  position: relative;
}

.features ul li:not(:last-child)::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 4.4vw;
  background-color: #117A8C;
}

.features img {
  width: 2.8vw;
  height: 2.8vw;
  object-fit: contain;
  margin-bottom: .75vw;
}

@media (max-width: 1023.98px) {
  .features {
    padding: 16vw 0 13.33vw 0;
  }
  
  .features .container {
    width: 93%;
  }

  .features ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .features ul li {
    flex: 0 0 50%;
    padding: 0;
    padding: 0 7vw;
  }
  
  .features ul li:not(:last-child)::after {
    display: none;
  }

  .features ul li:nth-child(1),
  .features ul li:nth-child(2) {
    padding-bottom: 8vw;
    margin-bottom: 8vw;
  }

  .features ul li:nth-child(1)::before,
  .features ul li:nth-child(2)::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 16vw;
    height: 1px;
    background-color: #117A8C;
  }
  
  .features img {
    width: 10.25vw;
    height: 10.25vw;
    margin-bottom: 2vw;
  }
}

/* #Categories
================================================== */
.categories {

}

.categories .container {
  width: 86%;
}

.categories h2 {
  text-align: center;
  margin-bottom: 3.125vw;
}

.category-list ul {
  display: flex;
  flex-wrap: wrap;
  margin: -1.5625vw;
}

.category-list li {
  flex: 0 0 25%;
  padding: 1.5625vw;
}

.category-list li > div {
  mask-image: url('../img/category/category-mask.svg');
  -webkit-mask-image: url('../img/category/category-mask.svg');
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  height: 23.33vw;
}

.category-list .img img {
  width: 100%;
  height: 13.43vw;
  object-fit: cover;
  object-position: center;
}

.category-list .text {
  padding: 1.04vw 1.3vw 1.3vw 1.3vw;
}

.category-list .text h3 {
  margin-bottom: 2.6vw;
}

.category-list .text a {
  display: flex;
  justify-content: space-between;
}

.category-list .text a img {
  width: 1.04vw;
}

.categories .filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.68vw;
}

.category-filters ul {
  display: flex;
  border: 1px solid #E5E5E5;
  border-radius: 500px;
  padding: 0.364vw;
  height: 3.125vw;
}

.category-filters ul li {
  height: 100%;
}

.category-filters ul li:not(:last-child) {
  margin-left: 1vw;
}

.category-filters ul a {
  font-size: 1.04vw;
  font-weight: 500;
  border-radius: 500px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1.35vw;
  transition: color .3s ease, background-color .3s ease;
}

.category-filters ul a.active {
  background-color: #117A8C;
  color: white;
}

.categories .filters select {
  width: 12.39vw;
  height: 3.125vw;
  border-radius: 500px;
  border: 1px solid #E5E5E5;
  font-size: 1.04vw;
  font-weight: 700;
  padding: 0 1.3vw;
  appearance: none;
  background-image: url('../img/icons/chevron-down-blue.svg');
  background-size: 1vw .57vw;
  background-repeat: no-repeat;
  background-position: 1.15vw 50%;
}

@media (max-width: 1023.98px) {
  .categories .container {
    width: 88%;
  }

  .categories .load-more {
    text-align: center;
    margin-top: 10.666vw;
  }

  .categories h2 {
    margin-bottom: 6vw;
    padding-bottom: 4vw;
    position: relative;
  }

  .categories h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 3px;
    width: 14.666vw;
    background-color: #FF6C0E;
  }
  
  .category-list ul {
    display: block;
    margin: 0;
  }
  
  .category-list li {
    padding: 0;
  }

  .category-list li:not(:last-child) {
    margin-bottom: 6vw;
  }
  
  .category-list li > div {
    mask-image: url('../img/category/category-mask-mobile.svg');
    -webkit-mask-image: url('../img/category/category-mask-mobile.svg');
    height: 72.666vw;
  }

  .category-list .img img {
    height: 45.65vw;
  }
  
  .category-list .text {
    padding: 4.66vw 6vw;
  }
  
  .category-list .text h3 {
    margin-bottom: 2vw;
  }
  
  .category-list .text a img {
    width: 4.93vw;
  }
  
  .categories .filters {
    margin-bottom: 7.33vw;
  }
  
  .categories .filters select {
    width: 43vw;
    height: 8vw;
    border-radius: 500px;
    border: 1px solid #E5E5E5;
    font-size: 3.2vw;
    font-weight: 700;
    padding: 0 2.5vw;
    appearance: none;
    background-image: url('../img/icons/chevron-down-blue.svg');
    background-size: 2.62vw 1.498vw;
    background-repeat: no-repeat;
    background-position: 2.93vw 50%;
  }
  
  .categories .filters select * {
    font-size: 3.2vw;
    font-weight: 700;
  }
}